@using BerkanPortfolyo.Models.Entity
@model List<Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}





@Html.Action("NavBarPartial")


<section class="py-3 position-relative">

    <div class="container-fluid px-0">
        <div class="position-absolute w-100 border-dashed-bottom opacity-25 top-5 z-index-2"></div>
        <div class="container px-md-5">
            <div class="row g-0">
                <div class="col-lg-12 pb-6 px-0 mb-lg-0">
                    <div class="swiper-container swiper-theme" data-swiper='{"slidesPerView":1,"breakpoints":{"576":{"slidesPerView":1.2}},"spaceBetween":30,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"loop":true,"loopedSlides":3,"slideToClickedSlide":true}'>
                        <div class="swiper-wrapper">



                            @foreach (var x in Model)
                            {
                                <div class="swiper-slide">
                                    <div class="row align-items-xl-center">
                                        <div class="col-lg-5">
                                            <img class="img-fluid w-100" src="@x.PhotoUrl" alt="" />
                                            <div class="position-absolute top-5 start-5 mt-n1 d-flex flex-column align-items-center"><span class="rounded-circle bg-white p-2 d-block"></span><span class="text-white fw-bold">@x.Date</span></div>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mt-4 mt-lg-0">
                                            <h1 class="fw-bolder mb-3">@x.Title</h1>
                                            <p class="text-warning fs-3 opacity-75">@x.SubTitle</p>
                                            <p class="fs-0">@x.Description</p>

                                        
                                            <a href="@x.ProjecUrl" class="btn btn-link text-warning p-0 fs-2" target="_blank">
                                                <span class="fw-bolder">Projeyi Gör</span>
                                                <img class="ms-3" src="~/fotogen/public/assets/img/icons/long-arrow.png" alt="" />
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            }








                        </div>
                    </div>
                    <div class="swiper-theme swiper-pagination d-flex mt-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>

@Html.Action("FooterPartial", "Main")


@Html.Action("SectionPartial", "Main")
