@using BerkanPortfolyo.Models.Entity
@model Main 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
   
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Category Listesi</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Baslık</th>
                                    <th scope="col">Baslık 2</th>
                                    <th scope="col">Baslık 3</th>
                                    <th scope="col">Photo 1</th>
                                    <th scope="col">Photo 2</th>
                                    <th scope="col">Photo 3</th>
                                    <th scope="col">P Title</th>
                                    <th scope="col">P Description</th>
                                    
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                               
                                    <tr>
                                        <th scope="row">@Model.title1</th>
                                        <td>@Model.title2</td>
                                        <td>@Model.title3</td>
                                        <td>@Model.photo1</td>
                                        <td>@Model.photo2</td>
                                        <td>@Model.photo3</td>
                                        <td>@Model.ptitle</td>
                                        <td>@Model.pdescription</td>
                                        <td><a href="/Admin/UpdateMain/@Model.Id" class="btn btn-success">Güncelle</a></td>
                                     

                                    </tr>
                                


                            </tbody>
                        </table>
                       
                    </div>
                </div>



            </div>

        </div>
    </div>
</section>
