@using BerkanPortfolyo.Models.Entity
@model  Main

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <div class="cursor-outer d-none d-md-block"></div>
   

    @Html.Action("NavBarPartial")

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-4 pt-md-0 pb-8 pb-sm-11 mt-lg-n8">

        <div class="container px-md-5">
            <div class="row">
                <div class="col-md-9 col-lg-7">
                    <h1 class="fs-4 fs-md-6 fs-xl-7 mb-5 mb-lg-0 position-relative z-index-2">@Model.title1 <span class="fw-thin text-300">@Model.title2 </span><span class="text-400">@Model.title3</span></h1>
                </div>
            </div>
            <div class="row mt-md-n6">
                <div class="col-2 d-none d-lg-block mt-auto"><img class="img-fluid" src="@Model.photo1" alt="" /></div>
                <div class="col-1 mt-auto d-none d-lg-block"><a class="scroll-indicator text-warning" href="#footer"> <span>Kaydır </span><img src="@Model.photo2" alt="" /></a></div>
                <div class="col-lg-7 position-relative">
                    <div class="position-relative overflow-hidden overflow-md-visible">
                        <img class="img-fluid" src="@Model.photo3" alt="" />
                        <div class="img-circle p-5 p-md-7 rounded-circle"></div>
                        <div class="img-circle-2 p-5 p-md-7 rounded-circle"></div>
                    </div>
                    <div class="position-absolute bottom-n100 col-11 mt-6 d-none d-md-block">
                        <p class="fs-2 lh-1 text-400">@Model.ptitle </p>
                        <p class="text-300">@Model.pdescription</p>
                    </div>
                    <div class="position-absolute start-0 bottom-0 d-lg-none"><a class="scroll-indicator text-warning" href="#footer"> <span>Kaydır </span><img src="~/fotogen/public/assets/img/icons/long-arrow.png" alt="" /></a></div>
                </div>
                <div class="col-2 d-none d-lg-block mb-auto"><img class="img-fluid" src="~/fotogen/public/assets/img/home/img3.png" alt="" /></div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

@Html.Action("FooterPartial")


@Html.Action("SectionPartial")

