@using BerkanPortfolyo.Models.Entity
@model  About

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}



@Html.Action("NavBarPartial")


<br />
<br />

<section class="py-2">

    <div class="container px-md-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row justify-content-center">

                    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                        <div class="card border-0 mb-3">
                            <img class="card-img-top" src="@Model.PhotoUrl" alt="" />
                            <div class="row g-0 card-body px-0 pt-2">
                                <div class="col-12 col-xl-8 text-center text-xl-start">
                                    <h4>@Model.Name</h4>
                                    <p class="text-warning mb-2">@Model.Job</p>
                                </div>
                                <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1">
                                    <a href="@Model.Sociallink1" target="_blank">
                                        <span class="@Model.SocialiconUrl"></span>
                                    </a><a href="@Model.Sociallink2"  target="_blank">
                                        <span class="@Model.SocialiconUrl2"></span>
                                    </a><a href="@Model.Sociallink3"  target="_blank">
                                        <span class="@Model.SocialiconUrl3" ></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
    @Html.Action("Whoisme")



    @Html.Action("Contact")



</section>


@Html.Action("FooterPartial", "Main")


@Html.Action("SectionPartial", "Main")


